@font-face {
    font-family: AvenirNext;
    src: url(/storage/avenir-next.otf);
}

#logo img {
    display: block;
    margin: auto;
}

body,html {
    display: block;
    margin: auto;
    margin-top: 0;
    padding: 0;
    font-family: AvenirNext
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    text-align: center;
}

.menu a {
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    width: 1024px
}

.footer {
    text-align: center;
}

.footer div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 200px;
    margin: auto;
}

.social {
    padding: 4px
}

html {
    padding-left: 50px;
    padding-right: 50px;
}