@font-face {
    font-family: AvenirNext;
    src: url(storage/avenir-next.otf);
}

.menu-bar {

}

#logo img {
    display: block;
    margin: auto;
}

body, html {
    display: block;
    margin: auto;
    margin-top: 0;
    padding: 0;
    font-family: AvenirNext
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    text-align: center;
}

.menu a {
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}

#featured-products {
    margin-top: 10px;
    text-align: center;
}

#featured-products div * {
    width: 200px;
}

#featured-products div {
    display: inline-block;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    width: 1024px
}

.footer {
    display: inline-block;
}

.footer div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 200px;
    margin: auto;
}

#mainimage {
    display: block;
    margin: auto;
    max-width: 900px;
}

.social {
    padding: 4px
}

html {
    margin-left: 50px;
    margin-right: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}